<!DOCTYPE html>
<html>
<% include ./partials/header.ejs %>
<body>
  <p>
    <%= Txt%>
  </p>
  <script src="main.js"></script>
  <script>
    var data = <% - JSON.stringify(Obj) %>;
    console.log(data);
  </script>
</body>
</html>