<!DOCTYPE html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <p><%= Txt%></p>
  <script>
    var data = <%- JSON.stringify(Obj) %>;
    console.log(data);
    </script>
    <script src="main.js"></script>
</body>
</html>